
@using SISFAHD.DTOs;
@using SISFAHD.Entities;
@{
    var data = (PagoProcesadoDTO)ViewData["datos"];


}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div>
    <h1 class="text-primary" style="font-size:42px;text-align:center"> Pago de Citas </h1>
    <div style="margin:10px auto 10px;width:20%;">
        <img src="https://s3.amazonaws.com/camaracuenca.com/wp-content/uploads/2021/03/22085610/%E2%80%94Pngtree%E2%80%94vector-like-icon_4015614-300x300.png" style=" width: 40%;
        margin: 0 0 0 110px">
    </div>

    <h1 class="text-primary" style="text-align: center;font-size:31px">¡Se realizó su pago con éxito!</h1>
    <h1 style="text-align: center;font-size:18px;margin:0;font-weight:500">Tu número de operacion es #@data.dataMap.TRANSACTION_ID.ToString() .Además se ha enviado una </h1>
    <h1 style="text-align: center;font-size:18px;margin:0 0 28px;font-weight:500">contancia a su correo electrónico. </h1>


    <div class="card" style="margin: 10px auto 10px;width: 50%;">
        <h1 class="text-primary" style="font-size:22px;">Datos de la transacción</h1>


        <h1 class="text-primary" style="font-size:20px;">Codigo de la transacción:</h1>
        <h2 style="font-size:15px;">@data.dataMap.TRANSACTION_ID.ToString()</h2>

        <h1 class="text-primary" style="font-size:20px;">Descripción:</h1>
        <h2 style="font-size:15px;">@data.dataMap.ACTION_DESCRIPTION.ToString()</h2>

        <h1 class="text-primary" style="font-size:20px;">Tarjeta de credito:</h1>
        <h2 style="font-size:15px;">@data.dataMap.CARD.ToString()</h2>

        <h1 class="text-primary" style="font-size:20px;">Moneda:</h1>
        <h2 style="font-size:15px;">@data.order.currency.ToString()</h2>

        <h1 class="text-primary" style="font-size:20px;">Monto:</h1>
        <h2 style="font-size:15px;">@data.order.purchaseNumber.ToString()</h2>

        <button type="button" class="btn btn-info" onclick="window.location.href='http://localhost:8080'"> Regresar al Menú Principal </button>

    </div>


</div>










<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






